<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KoboLibGen 404</title>
    <link rel="icon" href="data:">
</head>
<style>

</style>
<body>
<p>oops, i couldn't find that :/</p>
<span>
    <p>if this is a recurring problem open an issue on the
        <a href="https://github.com/trumanmiller/KoboLibGen/issues">github</a>
    </p>
</span>
</body>
</html>