<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KoboLibGen</title>
</head>
<body>
<form action="/search" method="get">
    <input minlength="1" type="text" name="s" id="searchBox" />
    <input type="submit" value="Search" id="searchButton" />
</form>

<!-- <button id="searchButton">search</button> -->
<div>
    <table>
        <thead>
        <tr style="font-weight: 900">
            <td>Authors</td>
            <td>Series</td>
            <td>Title</td>
            <td>File</td>
        </tr>
        </thead>
        <tbody id="tableBody">
        <!-- <tr>
          <td>Appleton, Victor</td>
          <td></td>
          <td>Tom Swift and His Great Oil Gusher aka The Treasure of Goby Farm</td>
          <td>EPUB / 834&nbsp;Kb</td>
          <td>
            <a href="http://3.129.243.182:3000/download?md5=2C3809164B7D9727B23CA6A9AC654613" style="font-size: large"
              >GET</a
            >
          </td>
        </tr> -->
        </tbody>
    </table>
</div>
</body>
<style>

</style>
</html>
